<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.com3104_project">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="com.example.com3104_project.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.barcodelibrary.permission.MAPS_RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.COM3104_Project">
        <activity
            android:name=".SuggestDetailActivity"
            android:exported="false" />
        <activity
            android:name=".TransitSuggestActivity"
            android:exported="false" />
        <activity
            android:name=".GMBStopActivity"
            android:exported="false" />
        <activity
            android:name=".GMBActivity"
            android:exported="false" />
        <activity
            android:name=".BusStopListActivity"
            android:exported="false" />
        <activity
            android:name=".BusSearchActivity"
            android:exported="false" /> <!-- android:theme="@style/Theme.COM3104_Project" -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="citymapper_key"
            android:value="@string/citymapper_key" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_maps"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>